<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lab 4 - nwu939</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={{ url_for("static", filename="css/styles.css")}}>
    </head>
    <body>
        <h1>This route returns your name! </h1>

        <br>

        <div class="containerwide">
            <p>Hello {{ username }}!</p>
        </div>
    </body>
</html>